
#header {
    margin-top:2%;
    margin-bottom: 20px;
    justify-content:center;
    display:flex;
    align-items:center;
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
}

li {
    cursor: grab;
}
.team {
    width: 200px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    margin-bottom: 10px;
    display:flex;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    color: white;
    
    /* height: 30px; */
}

.team-logo {
    background-color: white;
    width: 35px;
    padding: 5px;
    margin-right: 10px;
}

.tierBreak {
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    text-align: center;
    padding: 3px 0px;
    border-radius: 2px;

}
.disabled {
    display: none;
}

#regions {
    position: absolute;
}

.region {
    border-radius: 6px;
    font-size: 16px;
    margin: 5px;
    border: none;
    padding: 10px 12px;
    

}

.activeRegion {
    background-color: #008cba;
    color: white;
}

.inactiveRegion {
    background-color: rgb(222, 222, 222);
}

#captureRegion {
    width: fit-content;
    margin: auto;
}

#rankings {
    margin-top: 0px;
    padding: 0px 10px;
}

#rankingsTitle {
    height: 30px;
    width: 200px;
    text-align: center;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    /* padding-left: 10px; */
}

#uncapturedRegion {
    width: fit-content;
    margin: auto;
    text-align: center;
    padding-left:   0px;
}

/* Americas Teams */
#evilgeniuses {
    background-color: #0C1220;
}

#cloud9 {
    background-color: #00AEEF;
}

#thieves {
    background-color: black;
}

#nrg {
    background-color: black;
}

#furia {
    background-color: black;
}

#loud {
    background-color: #00ff00;
    color: black;
}


#mibr {
    background-color: black;
}

#kru {
    color: black;
    background-color: #ff198f;
}


#sentinels {
    background-color: #ec1c48;
}

#leviatan {
    background-color: #69abdc;
}

#leviatan img{
    background-color: white;
}

/* EMEA Teams */
#fnatic {
    background-color: #ff5900;
}

#fut {
    background-color: #121824;
}

#liquid {
    background-color: #0A1723;
}

#navi {
    background-color: #FFF200;
    color: black;
}

#vitality {
    background-color: #FFC72C;
    color: #221C35;
}

#heretics, #giants {
    background-color: black;
}

#koi {
    background-color: #6a30c0;
}

#kc {
    background-color: #01c8fe;
    color: black;
}

#bbl {
    background-color: #2e1742;
    color: #ffd400;
}

/* Pacific Teams */
#global {
    /* background-color: #ff5900; */
    background-color: #174692;
}

#t1 {
    background-color: #e2012d;
}

#geng {
    background-color: #aa8c30;
}

#drx {
    background-color: #0f03a3;
}

#talon {
    background-color: #e30041;
}

#rrq {
    background-color: #f3aa36;
    color: black;
}

#paperrex, #zeta, #ts{
    background-color: black;
}


#dfm {
    background-color: #2567ec;
}

/* NA Challengers Teams */

#tsm, #g2 {
    background-color: black;
}

#m80 {
    background-color: #daff00;
    color: black;
}

#mxm {
    background-color: #00a7ec;
}


#faze {
 background-color: #ed2224;
}

#tt {
    background-color: #4c6d52;
}

#mad {
    background-color: #ddbd5c;
    color: black;
}

#or {
    background-color: #f16823;
}

#guard {
    background-color: #60269e;
}

#oxg {
    background-color: #01ac42;
}

#shopify {
    background-color: #1e1e1e;
}


#dsg {
    background-color: #f5c65e;
    color: black
}

#capture {
    position: absolute;
    top: 40%;
    right: 5%;
    font-family: 'Roboto', sans-serif;
    display:flex;
    align-items:center;
    background-color: rgb(158, 3, 158);
    border-radius: 50%;
    width: 100px;
    height: 110px;
    padding-left: 10px;
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }